body {
    background-color:lightgoldenrodyellow;
  }

  table {
    margin-top: 50px;
    text-align: center;
    background: lightblue;
    color: rgb(139, 49, 67);
  }

  #Show th,
  #Show td {
    padding: 16px;
  }

  #btn td input {
    width: 50px;
    background-color: rgb(205, 237, 49);
  }